html, body {
    margin: 0;
    padding: 0;
}

.parent-container {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid rgb(160, 211, 255);
}

.red-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 111, 111);
}

.white-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(226, 224, 224);
}

.blue-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(111, 149, 255);
}

.pink-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 168, 248);
}

.yellow-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 255, 189);
}

.green-box{
    width: 50vw;
    height: 50vh;
    background-color: rgb(190, 255, 210);
}